body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: Roboto, sans-serif;

}

.header, .footer {
    background-color: #1f2937;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 20px;


}

#logo {
    font-weight: 700;
    color: #f9faf8;
    font-size: 24px;
    float: left;

}

.right-links {
    font-size: 18px;
    color: #E5E7EB;
    float: right;
}

.header ul, .header li {
    list-style-type: none;
    display: inline-block;
}


.header a {
    text-decoration: none;
    color: #E5E7EB;
    float: left;
    text-align: center;
    padding: 14px 16px;

}

.header a:hover {
    background-color: white;
    color: black;
}

.title {
    font-size: 20px;
    background-color: #1f2937;
    color: #f9faf8;
    font-weight: bolder;
    display: flex;

}


.myDog {
    float: right;
    height: 150px;
    width: 250px;

}

img {
    height: 100px;
    width: 100px;
}

button {
    background-color: #3882f6;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border-color: #3882f6;
    padding: 5px;
    width: 100px;

}

.button {

}

.content1 {
    display: flex;
    height: 350px;

}

.random {
    display: flex;
    border: 1px solid green;
    margin: 0;
}

.footer {
    margin-top: auto;
    color: #E5E7EB;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid red;
}

.content2 {
    background-color: #E5E7EB;
    display: flex;
    height: 300px;

}

.author {
    float: right;
    font-size: 25px;
    color: #1f2937
}

.content3 {
    display: flex;
    height: 300px;


}